@font-face {
    font-family: "chosunsm";
    src: url("../../css/font/ChosunSm.TTF");
}



ul{

    list-style:none;
    padding-left:0px;
}
.prame{    
    width : 100%;
    height : 100%;
    overflow : hidden;
    position: fixed;   
}

.tapHeader{
    background-color : #EDEDEB;
    width : 35%;
    height : 100%;
    float: left;
    margin: 0;
}
.tapMainBody {
    width : 65%;
    height : 100vh;
    float: left;
    margin: 0px auto;

}

.mainMenu{
    height:30%;
}

.menuItem{
    font-family: "chosunsm";
    letter-spacing : 0.2em;
    color: #B2B1AA;
    height:17.5%;
    text-align:right;

    display: flex;
    align-items: center;
    justify-content: right;
    padding-right:17%;
    font-size: 25px;
}
.menuList{
    border-right:0.1px solid #BDBDBD;
    border-bottom:0.1px solid #BDBDBD;
    
}
.selectMenu{
    background-color : white;
    opacity:1;
}

#menuLogo{
    margin-top:15%;
    margin-left:25%;
    height:27%;
}


.MtapHeader{   
    background-color : #EDEDEB;
    width : 100%;
    height : 35%;
    margin: 0;
    position: absolute;
    bottom: 0px;
}

#MlogoBox{
    height: 30%;
    padding-top: 10%;
}

#MmenuLogo{
    margin :auto;
    height:27%;
}

.MtapMainBody {
    width : 100%;
    height : 60%;

}
.MmenuItem{
    width:20%;
    font-size: 75%;
    text-align: center;
}
.MmenuList{
    border-left:0.1px solid #BDBDBD;
    border-top:0.1px solid #BDBDBD;
	box-sizing: border-box;
    float: left;
    height:100%;
    color: #B2B1AA;
    font-family: "chosunsm";
}