
#Table{
    width: 100%;
}

#reqrT{
    text-align: left;
   
}

#derow2{
    text-align: left;
    font-size: small;
}

#reqdateT{
    width : 150px;
}
#descT{
    text-align: left;
    width : 100%;
}

#buttonGoMenu{
    border: solid 1px;
}

#menuIconDiv{
    height: 30px;
   margin-top: 300px;
}

#menuIcon {
    width: 15px;
}

