#noticeItems{
    width: 100%;
    text-align: center;
    height: 100vh;
    padding-top: 10%;
    padding-left: 25%;
}

#MBnoticeItems{
    width: 100%;
    text-align: center;
    height: 100vh;
    padding-top: 25%;  
    padding-left: 5%;  
}

#noticeItem{
    width: 50%;
}
#MBnoticeItem{
    width: 90%;
}

#culId{
    width :80px;
}

#culTitle{
    width :600px;
}
.tdTitle{
    text-align: left;
}

#culReq{
    width :120px;
}

#culReqd{
    width :160px;
}

#culHit{
    width :40px;
}