#inputTitle{
    width: 100%;
}

#inputReqr{
    width: 100%;
}

#inputID{
    width: 100%;
}

#inputDesc{
    width: 100%;
    height: 400px;
}

.NI1col{
    width : 200px;
}


.NI2col{
    width : 600px;
}

.NIfootBtn{
    float: right;
}

#trID{
    display: none;
}