#noticeItems{
    width: 100%;
    text-align: center;
    height: 100vh;
    padding-top: 10%;
    padding-left: 25%;
}

#MBnoticeItems{
    width: 100%;
    text-align: center;
    height: 100vh;
    padding-top: 25%;  
    padding-left: 5%;  
}

#noticeItem{
    width: 50%;
}
#MBnoticeItem{
    width: 90%;
}

#culId{
    width :80px;
}

#culTitle{
    width :600px;
}
.tdTitle{
    text-align: left;
}

#culReq{
    width :120px;
}

#culReqd{
    width :160px;
}

#culHit{
    width :40px;
}


#entWrite{
    width:100px;
    height:100px;
    opacity: 0;
    position: fixed;
    display:none;
    margin-top: 50px
}


#hiddenPass{
    width:250px;
    height:370px;
    position: fixed;
    display:none;
    border: solid 2px red;
    background-color: yellow;
    margin-left: 35%;
    margin-top: 20%;
    text-align: center;
}

#password{
    width:30%;
    border: solid 2px red;
}
#HP1{
    float: left;
    width:100%;
    margin-top: 10px;
    color: red;
    font-weight: bold;

}
#HP2{
    float: left;
    width:100%;
    margin: 10px;

}
#keypad{
    width: 207px;
    height: 290px;
    overflow: hidden;
    display: inline-block;
    
}

.key{
    width: 65px;
    height: 65px;
    float: left;
    border: solid 1px gray;
    margin: 1px;
}
.keySpan{
    padding-top: 25px;
}

#closeIcon{
    width: 30px;
    float: right;
    margin-right: 20px;

}

.tdBtn{
    display:none;
}
