@font-face {
    font-family: "sfont";
    src: url("../../css/font/SCDream4.otf");
}

#main0Body{
    width: 55%;
    margin: 0 auto;
 }
 #main0Row{
     overflow: hidden;
     margin-top : 30%;
     position:relative;
 }

#mainImgBox{
    width: 70%;
    padding-right: 7%;
    border-right: 2px solid #B2B1AA;
    float: left;
}

#ungsungMain{
    width: 100%;
}

#mainTitle{
    position:absolute;
    top:0px;
    right:7%;
    font-size: 3vh;
    color: #B2B1AA;
   
}
#subTitle{
    position:absolute;
    bottom:0px;
    right:5%;
    font-size: 2vh;
    color: #B2B1AA;
}


#Mmain0Row{
    overflow: hidden;
    margin-top : 30%;
    position:relative;
}
#MsubTitle{
    position:absolute;
    bottom:0px;
    font-size: 2vh;
    color: #B2B1AA;
}

#main1Body{
   width: 80%;
   margin: 0 auto;
}
#main1Row{
    overflow: hidden;
    padding-top : 45%;

}
#logoBox{
    width: 23%;
    float: left;
}

#logo_mun{
    width: 100%;
}
#mainDesc{
    padding-top : 8%;
    padding-left : 6%;
    font-size: 1.3vh;
    float: left;
}

#main2Body{
    width: 70%;
    height: 100vh;
    margin: 0 auto;
}
#projectNo{
    font-size: 170%;
    padding-top: 25%;
}

#projectTitle{
    font-size: 300%;
    padding-top: 15px;
}

#description{
    /* font-family: "sfont"; */
    padding-top: 20%;
    font-size: 170%;

}
#tapBody{
    height: 100%;
}
#m1{
    width: 100%;
}
#m2{
    width: 100%;
}
#m3{
    height: 100%;
}
#m4{
    height: 100%;
}
#m5{
    height: 100%;
}
#main1Body{
    height: 100%;
    margin: 0 auto;
}
#main2Body{
    height: 100%;
    margin: 0 auto;
}
#main3Body{
    height: 100%;
    margin: 0 auto;
}
#main4Body{
    height: 100%;
    margin: 0 auto;
}
#main5Body{
    height: 100%;
    margin: 0 auto;
}


#main3Row{
    margin-top : 10%;
    overflow: hidden;
}
#Mm1{
    width: 100%;
}
#Mm2{
    width: 100%;
}

#Mm3{
    width: 100%;
}
#Mm4{
    width: 100%;
}
#Mm5{
    width: 100%;
}
#Mmain1Body{
    width: 100%;
    margin: 0 auto;
}
#Mmain2Body{
    width: 100%;
    margin: 0 auto;
}
#Mmain3Body{
    width: 95%;
    margin: 0 auto;
}
#Mmain4Body{
    width: 100%;
    margin: 0 auto;
}
#Mmain5Body{
    width: 100%;
    margin: 0 auto;
}


.main3row1{
    width: 40%;

}
#row_1c{   
    float: left;    
}
#row_2c{   
    float: right;    
}

.main3row1img{
    width: 100%;
}

#m3description{
    font-size: 1.5vh;
    color: #B2B1AA;
}

#main3Row2{
    margin-top : 8%;
    position: relative;
    overflow: hidden;
}

.main3row2{
    width: 33%;
}

#row2_1c{   
    float: left;    
}
#row2_2c{   
    float: left;
    position: absolute;
    bottom: 0px;
    padding-left: 43%;
}
#row2_3c{   
    float: left;  
    position: absolute;
    bottom: 0px;  
    padding-left: 66%;
}

#p1_m3_2{   
    width: 70%;   
}
#colBox{
    margin: 0px auto;

}
#p1_m3_2_2{   
    width: 50%;
}
#p1_m3_2_3{   
    width: 45%;
    float: right;
    padding-right: 2%;
}
#p1_m3_2_4{   
    top: 0px;   
    float: right;  
    width: 13%;
}






#main5Row{
    margin-top : 20%;
    overflow: hidden;
}

.main5row1{
    width: 48%;

}
#m5_row_1c{   
    float: left;    
}
#m5_row_2c{   
    float: right;    
}

.main5row1img{
    width: 100%;
}

#m5description{
    font-size: 1.5vh;
    color: #B2B1AA;

}


#goShop{
    position: absolute;
    border-right:1px solid black;
    border-left:1px solid black;
    right: 2%;
    top: 2%;
    padding-right: 1%;
    padding-left: 1%;
    font-size: 2vh;
    font-weight: 550;
    color: #292927;

}