#main0Body{
    width: 55%;
    margin: 0 auto;
 }
 #main0Row{
     overflow: hidden;
     margin-top : 30%;
     position:relative;
 }

#mainImgBox{
    width: 70%;
    padding-right: 50px;
    border-right: 3px solid gray;
    float: left;
}

#ungsungMain{
    width: 100%;
}

#mainTitle{
    position:absolute;
    top:0px;
    right:20px;
    font-size: 35px;
   
}
#subTitle{
    position:absolute;
    bottom:0px;
    right:10px;
}

#main1Body{
   width: 70%;
   margin: 0 auto;
}
#main1Row{
    overflow: hidden;
    padding-top : 45%;

}
#logoBox{
    width: 170px;
    float: left;
}

#logo_mun{
    width: 100%;
}
#mainDesc{
    padding-top : 45px;
    padding-left : 100px;
    float: left;
}

#main2Body{
    width: 70%;
    margin: 0 auto;
}
#projectNo{
    padding-top: 150px;
}

#projectTitle{
    font-size: 40px;
    padding-top: 15px;
}

#description{
    padding-top: 150px;

}